---
import { getCollection } from 'astro:content';

import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';

const issues = (await getCollection('archive')).sort((a, b) => {
  if (b.data.pubDate && a.data.pubDate) {
    return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
  } else {
    return 0;
  }
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Archive</h1>
      <section>
        <ul>
          {
            issues.map((issue) => (
              <li>
                <a href={`/archive/${issue.id}/`}>
                  <h4 class="title">{issue.data.title}</h4>
                  <p class="date">
                    {issue.data.pubDate && (
                      <FormattedDate date={issue.data.pubDate} />
                    )}
                  </p>
                  {issue.data.description && (
                    <p class="description">{issue.data.description}</p>
                  )}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  section {
    margin-top: 32px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent);
  }
  ul li:last-child {
    border-bottom: none;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date,
  .description {
    font-weight: normal;
    margin: 12px 0 0 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date,
  ul li a:hover .description {
    color: rgb(var(--accent));
  }
  @media (max-width: 720px) {
    ul li {
      width: 100%;
      text-align: center;
    }
  }
</style>
