---
import { getCollection } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubscriptionForm from '../components/SubscriptionForm.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const issues = (await getCollection('archive'))
  .filter((item) => item.data.published)
  .sort((a, b) => {
    if (b.data.pubDate && a.data.pubDate) {
      return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
    } else {
      return 0;
    }
  })
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Welcome</h1>

      <p>
        Metaframeworks Weekly is your bite-sized dose of the most important news
        and updates in the world of metaframeworks. Hand-curated by <a
          class="author-link"
          href="https://fyodor.io"
          target="_blank">Fyodor</a
        >, this newsletter cuts through the noise to bring you only the
        essentials.
      </p>

      <p>
        Every week, we dive into the latest from frameworks like Next.js, Nuxt,
        SvelteKit, Astro, and more. Expect concise, actionable insights, and a
        sprinkle of community highlights — all delivered straight to your inbox.
        We take a sober look at the metaframeworks movement and ecosystem,
        presenting both the positive and negative aspects without strong
        opinions or judgments.
      </p>

      <SubscriptionForm />

      <section>
        <h2>Latest newsletter issues</h2>
        <ul>
          {
            issues.map((issue) => (
              <li>
                <a href={`/archive/${issue.id}/`}>
                  <h3 class="title">{issue.data.title}</h3>
                  <p class="date">
                    {issue.data.pubDate && (
                      <FormattedDate date={issue.data.pubDate} />
                    )}
                  </p>
                  {issue.data.description && (
                    <p class="description">{issue.data.description}</p>
                  )}
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  section {
    margin-top: 20px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    margin: 32px 0 0 0;
    padding: 0;
  }
  ul li {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent);
  }
  ul li:last-child {
    border-bottom: none;
  }
  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date,
  .description {
    font-weight: normal;
    margin: 12px 0 0 0;
    color: rgb(var(--gray));
  }
  ul li a:hover h4,
  ul li a:hover .date,
  ul li a:hover .description {
    color: rgb(var(--accent));
  }
  @media (max-width: 720px) {
    ul li {
      width: 100%;
      text-align: center;
    }
    main {
      max-width: inherit;
    }
  }
  h1 {
    margin-bottom: 32px;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
  }
</style>
