---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

interface Props {
  title: string;
  pubDate: Date | undefined;
  description?: string;
  id: string;
  titleTag?: 'h3' | 'h4';
  tags?: string[];
}

const {
  title,
  pubDate,
  description,
  id,
  titleTag = 'h3',
  tags = []
} = Astro.props;
const TitleTag = titleTag;

const tagCollection = await getCollection('tags');
const tagMap = Object.fromEntries(
  tagCollection.map((tag) => [tag.data.id, tag.data.name])
);
---

<li>
  <a href={`/archive/${id}/`}>
    <TitleTag class="title">{title}</TitleTag>
    <p class="date">
      {pubDate && <FormattedDate date={pubDate} />}
    </p>
    {description && <p class="description">{description}</p>}
  </a>
  {
    tags.length > 0 && (
      <div class="tags">
        {tags.map((tagId) => (
          <a href={`/tags/${tagId}/`} class="tag">
            #{tagMap[tagId] || tagId}
          </a>
        ))}
      </div>
    )
  }
</li>

<style>
  h3 {
    font-size: 1.5rem;
  }
  li {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent);
  }
  li:last-child {
    border-bottom: none;
  }
  li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date,
  .description {
    font-weight: normal;
    margin: 12px 0 0 0;
    color: rgb(var(--gray));
  }
  li a:hover .title,
  li a:hover .date,
  li a:hover .description {
    color: rgb(var(--accent));
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .tag {
    font-size: 0.875rem;
    color: #394150;
    background-color: rgb(229, 231, 235);
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  .tag:hover {
    color: #394150;
    background-color: #d2d5da;
  }
  @media (max-width: 720px) {
    li {
      width: 100%;
      text-align: center;
    }
    .tags {
      justify-content: center;
    }
  }
</style>
