---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE } from '../consts';
import SubscriptionForm from '../components/SubscriptionForm.astro';

type Props = CollectionEntry<'archive'>['data'];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags = [],
  enableSubscription = false,
  'data-pagefind-ignore': pagefindIgnore
} = Astro.props;

const tagCollection = await getCollection('tags');

const tagMap = Object.fromEntries(
  tagCollection.map((tag) => [tag.data.id, tag.data.name])
);
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} - ${SITE_TITLE}`}
      {description}
      image={heroImage}
    />
  </head>

  <body data-pagefind-ignore={pagefindIgnore}>
    <Header />
    <main>
      <article>
        <div class="prose">
          <div class="title">
            <div class="date">
              {pubDate && <FormattedDate date={pubDate} />}
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>

          <section class="content">
            <slot />
          </section>

          {
            tags.length > 0 && (
              <div class="tags">
                {tags.map((tagId) => (
                  <a href={`/tags/${tagId}/`} class="tag">
                    #{tagMap[tagId] || tagId}
                  </a>
                ))}
              </div>
            )
          }
        </div>

        {
          enableSubscription && (
            <section class="if-useful">
              <h5>
                Found it useful? Consider subscribing. No hidden catch, no
                strings attached.
              </h5>
              <SubscriptionForm />
            </section>
          )
        }
      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  .title {
    margin-bottom: 1em;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
  .content {
    margin-top: 3rem;
  }
  .if-useful {
    margin-top: 56px;
  }
  .if-useful h5 {
    font-size: 1.1rem;
  }
  @media (max-width: 720px) {
    main {
      max-width: inherit;
    }
  }
</style>
